<div class="container-fluid mt-5" id="about">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h2 class="d-flex justify-content-center mb-5 gfg border rounded-pill bg-success text-white">About us</h2>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img class="col-md-12 col-sm-6 col-12  px-2 main gfg rounded-pill" src="image/about.jpg" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0 text-start mt-5">
                        <h1>Love Coffee</h1>
                        <h1>Wake Up!</h1>
                        <p class="fs-2">Fuel Your Day:<span class="fs-6"> The Brew that Never Disappoints</span>
                        <p>
                            <button class="btn-style btn-primary btn btn-warning text-white">Explore</button>
                    </div>
                </div>
        </div>
    </div>
</div>