<div class="container-fluid mt-5" id="service">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h2 class="d-flex justify-content-center mb-5 gfg border rounded-pill bg-success text-white  m-auto">Our
                Service</h2>
            <button
                class="btn-style btn-primary btn btn-warning text-white d-flex justify-content-center m-auto gfg border rounded-pill">MENU</button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12  photo mt-4 mx-auto rounded-5">
                        <img class="rounded-5" src="image/caffeMaocha.jpg">
                    </div>
                    <div class="col-lg-4 col-md-6 col-12  photo mt-4 mx-auto rounded-5">
                        <img class="rounded-5" src="image/espresso.jpg">
                    </div>
                    <div class="col-lg-4 col-md-6 col-12  photo mt-4 mx-auto rounded-5">
                        <img class="rounded-5" src="image/caffeLatte.jpg">
                    </div>
                    <div class="col-lg-4 col-md-6 col-12  photo mt-4 mx-auto rounded-5">
                        <img class="rounded-5" src="image/irish.jpg">
                    </div>
                    <div class="col-lg-4 col-md-6 col-12  photo mt-4 mx-auto rounded-5">
                        <img class="rounded-5" src="image/indianFilter.png">
                    </div>
                    <div class="col-lg-4 col-md-6 col-12  photo mt-4 mx-auto rounded-5">
                        <img class="rounded-5" src="image/white.jpg">
                    </div>
                    <div class="col-lg-4 col-md-6 col-12  photo mt-4 mx-auto rounded-5">
                        <img class="rounded-5" src="image/macchiato.jpg">
                    </div>
                    <div class="col-lg-4 col-md-6 col-12  photo mt-4 mx-auto rounded-5">
                        <img class="rounded-5" src="image/turkish.jpg">
                    </div>
                    <div class="col-lg-4 col-md-6 col-12  photo mt-4 mx-auto rounded-5">
                        <img class="rounded-5" src="image/americano.jpg">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div> 


